

@media screen and (min-width: 980px) {
    body {
        font-size: 33.69px;
        line-height: 33.69px;
    }
    
    .main-nav-header {
        display: none;
    }
    
    .main-nav-list {
        display: block;
        position: relative;
        z-index: 1000;
        width: 29.091em;
        background-color: #373c3f;
        padding-top: 1.303em;
        padding-bottom: 1.364em;
        padding-left: 1.606em;
    }
    
    .main-nav-list li {
        display: inline-block;
    }
    
    .main-nav-list a {
        height: auto;
        width: auto;
        line-height: 1em;
        border: 0;
        font-size: 0.56em;
        margin-right: 0.909em;
    }
    
    .photo-1,
    .photo-2,
    .photo-3,
    .photo-4,
    .photo-5,
    .photo-6 {
        float: left;
        width: 9.69em;
        height: 8.515em;
    }
    
    .photo-1 {
        background: url(../img/980/photo-1.jpg) no-repeat;
    }
    
    .photo-2 {
        background: url(../img/980/photo-2.jpg) no-repeat;
    }
    
    .photo-3 {
        background: url(../img/980/photo-3.jpg) no-repeat;
    }
    
    .photo-4 {
        background: url(../img/980/photo-4.jpg) no-repeat;
    }
    
    .photo-5 {
        background: url(../img/980/photo-5.jpg) no-repeat;
    }
    
    .photo-6 {
        background: url(../img/980/photo-6.jpg) no-repeat;
    }
    
    .mobile-gallery-container {
        display: none;
    }
    
    .desctop-gallery-container {
        display: block;
        height: 8.400em;
        width: 29.089em;
        position: relative;
        overflow: hidden;
    }
    
    .photo-container {
        display: absolute;
        width: 10000px;
        left: 0;
        top: 0;
    }
}